<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo - Belleza</title>
    <link rel="shortcut icon" href="https://i.ibb.co/tLnJrKD/pixelcut-export-1.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../app.js"></script>


    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

        html {
            zoom: 0.8;
        }

        body {
            font-family: "Roboto Slab", serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            background: linear-gradient(to top, #ffffff, rgb(255, 255, 255)), linear-gradient(to bottom, #ffffff, rgb(255, 255, 255));
            background-position: top, bottom;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            max-width: auto;
            color: #000000;
        }

        a {
            font-size: large;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
            /* Elimina el subrayado predeterminado */
        }

        /* Color of the links BEFORE scroll */
        .navbar-scroll .nav-link,
        .navbar-scroll .navbar-toggler-icon,
        .navbar-scroll .navbar-brand {
            color: #000000;
        }

        /* Color of the links AFTER scroll */
        .navbar-scrolled .nav-link,
        .navbar-scrolled .navbar-toggler-icon,
        .navbar-scrolled .navbar-brand {
            color: #000000;
        }

        /* Color of the navbar AFTER scroll */
        .navbar-scroll,
        .navbar-scrolled {
            background-color: #000000;
        }

        .mask-custom {
            backdrop-filter: blur(5px);
            background-color: rgba(255, 255, 255, .15);
        }

        .navbar-brand {
            font-size: 1.75rem;
            letter-spacing: 3px;
        }

        .navbar-custom {
            background-color: #b4d5ff93;
            /* Color de fondo original */
        }

        #navbar {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: rgb(255, 255, 255);
            padding: 10px 0;
            transition: top 0.3s;
            z-index: 1000;
        }

        #content {
            padding-top: 50px;
            /* Ajusta esto según la altura de tu barra de navegación */
        }

        .card {
            background-color: #ffffff;
        }

        .container-image {
            position: relative;
            margin-top: 40px;
            width: auto;
            /* Ajusta el ancho según sea necesario */
            height: auto;
            /* Ajusta la altura según sea necesario */
        }

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* Ajusta la imagen para cubrir todo el contenedor */
            clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
            /* Forma de montaña invertida */
        }

        .text {
            position: absolute;
            top: 20%;
            left: 22%;
            transform: translate(-50%, -50%);
            z-index: 1;
            /* Coloca el texto encima de la imagen */
            color: rgb(0, 0, 0);
            font-family: "Rubik Doodle Shadow", system-ui;
            font-weight: 800;
            font-style: normal;
            /* Color del texto */
        }

        .buscador {
            padding: 0 150px 0 150px;
            margin: 120px 0 120px 0;
        }

        @media (max-width: 1400px) {
            .container-image {
                position: relative;
                margin-top: 40px;
                width: auto;
                /* Ajusta el ancho según sea necesario */
                height: auto;
                /* Ajusta la altura según sea necesario */
            }
        }

        @media (max-width: 1200px) {
            .container-image {
                position: relative;
                margin-top: 40px;
                width: auto;
                /* Ajusta el ancho según sea necesario */
                height: auto;
                /* Ajusta la altura según sea necesario */
            }
        }

        @media (max-width: 800px) {
            .container-image {
                position: relative;
                margin-top: 40px;
                width: auto;
                /* Ajusta el ancho según sea necesario */
                height: auto;
                /* Ajusta la altura según sea necesario */
            }

            .text {
                /* Tamaño de letra más pequeño */
                position: absolute;
                top: 30%;
                left: 37%;
                transform: translate(-50%, -50%);
                z-index: 1;
                /* Coloca el texto encima de la imagen */
                color: white;
                font-weight: 400;
                font-style: normal;
            }


            .buscador {
                padding: 0 50px 0 50px;
                margin: 120px 0 120px 0
            }
        }

        .btn {
            color: #000000;
            background-color: #ffffff;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            width: 100%;
            padding: 12px 15px 11px;
            border-radius: 20px;
            box-shadow: 1px 1px 1px #b4ffc463, -1px -1px 1px #b4ffc463;
            border: none;
            transition: all 0.5s ease 0s;
        }

        .btn:hover,
        .btn:focus {
            border: 2px solid white;
            background-color: #00ff88;
            color: #000000;
            letter-spacing: 3px;
            box-shadow: none;
            outline: none;
        }

        .card {
            transition: transform 0.3s ease;
        }

        .card:hover {
            transform: scale(1.03);
            background-color: #ebebeba6;
            border-style: solid 1px;
            border-color: #000000;
        }

        .social-link {
            display: inline-block;
            font-size: 24px;
            /* ajusta el tamaño del ícono según sea necesario */
            transition: transform 0.3s ease;
        }

        .social-link:hover {
            transform: scale(1.2);
            /* escala el tamaño del ícono al 120% */
        }

        .descripcion {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
        }

        #carrito {
            display: none;
            opacity: 0;
            transform: scale(0);
            transition: opacity 0.3s ease, transform 0.3s ease;
            color: #ffffff;
        }

        #toggle-carrito {
            border: none;
            /* Eliminar bordes */
            padding: 0;
            /* Eliminar relleno */
            background: none;
            /* Eliminar fondo */
        }

        #carrito-icon {
            width: 60px;
            /* Aumentar el tamaño de la imagen */
            height: 60px;
            /* Aumentar el tamaño de la imagen */
            transition: transform 0.5s ease;
            /* Agregar transición para la animación */
            border-radius: 15%;
            background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.521) 100%);
        }


        #carrito-icon:hover {
            animation: tada 1s infinite;
            /* Aplicar animación al hacer hover */
        }

        @keyframes tada {
            0% {
                transform: scale(1);
            }

            10%,
            20% {
                transform: scale(0.9) rotate(-3deg);
            }

            30%,
            50%,
            70%,
            90% {
                transform: scale(1.1) rotate(3deg);
            }

            40%,
            60%,
            80% {
                transform: scale(1.1) rotate(-3deg);
            }

            100% {
                transform: scale(1) rotate(0);
            }
        }

        .boton-eliminar-lista {
            color: #000000;
            background-color: #ff0000cc;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 12px 15px 11px;
            border-radius: 20px;
            box-shadow: 1px 1px 1px #b4ffc463, -1px -1px 1px #b4ffc463;
            border: none;
            transition: all 0.5s ease 0s;
        }

        .boton-eliminar-lista:hover,
        .boton-eliminar-lista:focus {
            border: 2px solid white;
            background-color: #ff0000;
            color: #000000;
            letter-spacing: 3px;
            box-shadow: none;
            outline: none;
        }

        a {
            color: white;
        }
        .carrito{
            color: #000000;
        }





/* Estilos para el contenedor del botón de WhatsApp y la burbuja de mensaje */
.whatsapp-container {
    position: fixed;
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la parte derecha */
    z-index: 9999; /* Para asegurar que esté por encima de otros elementos */
    display: flex;
    align-items: center;
  }

  /* Estilos para la burbuja de mensaje */
  .mensaje-burbuja {
    background-color: #00ff5e75;
    color: #000000;
    padding: 10px 15px;
    border-radius: 20px 20px 5px 20px; /* Ajuste en la esquina inferior izquierda */
    margin-right: 10px; /* Espacio entre la burbuja y el botón */
    animation: mensajeEntrante 1s ease-in-out, mensajeSaliente 1s ease-in-out 10s forwards; /* Animación de entrada y salida */
  }

  /* Estilos para el botón de WhatsApp */
  .whatsapp-btn img {
    width: 64px;
    height: 64px;
    transition: width 0.5s, height 0.5s; /* Transición para el cambio de tamaño */
  }

  /* Estilos para el botón de WhatsApp más pequeño */
  .whatsapp-btn.small img {
    width: 54px;
    height: 54px;
  }

  /* Animación de entrada */
  @keyframes mensajeEntrante {
    0% {
      transform: translateX(20px); /* Empieza un poco a la izquierda de la posición normal */
      opacity: 0; /* Inicia invisible */
    }
    100% {
      transform: translateX(0); /* Llega a la posición normal */
      opacity: 1; /* Se vuelve visible */
    }
  }

  /* Animación de salida */
  @keyframes mensajeSaliente {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }

  .imagen-carrito {
    border-radius: 40%;
    max-width: 120px;
    height: 90px;
    transition: opacity 0.5s;
  }

  /* Cambiar la imagen al hacer hover */
  .imagen-carrito:hover {
    content: url('https://i.ibb.co/n6G0gwW/carro-de-la-compra.gif');
  }
  
  footer{
    background-image: url("https://i.ibb.co/bWx76m4/FONDO-PAGINA-WEB-VARISTI-2.jpg");
  background-size: cover;
  color: rgb(0, 0, 0);
  }
    </style>

</head>

<body id="content">

    <div class="container-image">
        <img src="https://i.ibb.co/c68sxLD/pixelcut-export-8.png" alt="Imagen" class="image">
    </div>

    <nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0 navbar-custom">
        <div class="container">
            <a style="padding-left: 20px;" class="navbar-brand" href="/">
                <img src="https://i.ibb.co/vLC88YL/pixelcut-export-5.png" alt="Logo" width="70" height="70">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                style="border: solid 2px rgb(0, 0, 0);">
                <i class="bi bi-list" style="color: #000000;"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <b><a class="nav-link" style="color: rgb(0, 0, 0); padding-right: 40px; font-size: 24px;" href="/">Inicio</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" style="color: rgb(0, 0, 0); padding-right: 40px; font-size: 24px;"
                                href="#catalogos">Catálogos</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" style="color: rgb(0, 0, 0); padding-right: 40px; font-size: 24px;"
                                href="#contactoFooter">Contacto</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" style="color: rgb(0, 0, 0); padding-right: 40px; font-size: 24px;"
                                href="#">Sobre Nosotros</a></b>
                    </li>
                </ul>
            </div>
        </div>
    </nav>







    <div class="container mt-5">
        <h1 style="color: #000000; text-align: center;">CATÁLOGO DE BELLEZA</h1>

        <!-- Div que representa el carrito -->
        <div>
            <button id="toggle-carrito" onmouseover="startAnimation()" onmouseout="stopAnimation()"
                onclick="toggleCarrito()">
                <img class="imagen-carrito" src="https://i.ibb.co/4NjvpxJ/sinmovimiento.jpg" alt="">
            </button>
            <div id="carrito" style="display: none;">
                <label class="carrito" for="nombre">Por favor digite su nombre completo para realizar la compra:</label>
                <input class="carrito" type="text" id="nombre" required>

                <!-- Radiobuttons -->
                <div>
                    <label class="carrito" for="tarifa">Tarifa de envio:</label>
                </div>
                
                <div>
                    <input class="carrito" type="radio" id="opcion1" name="opcion" value="0">
                    <label class="carrito" for="opcion1">RECOGER EN TIENDA</label><br>
                    <input class="carrito" type="radio" id="opcion2" name="opcion" value="11000">
                    <label class="carrito" for="opcion2">MEDELLIN - $11.000</label><br>
                    <input class="carrito" type="radio" id="opcion3" name="opcion" value="12000">
                    <label class="carrito" for="opcion3">POBLADO - $12.000</label><br>
                    <input class="carrito" type="radio" id="opcion4" name="opcion" value="12000">
                    <label class="carrito" for="opcion4">PALMAS - $12.000</label><br>
                    <input class="carrito" type="radio" id="opcion5" name="opcion" value="12000">
                    <label class="carrito" for="opcion5">PICACHO - $12.000</label><br>
                    <input class="carrito" type="radio" id="opcion6" name="opcion" value="13000">
                    <label class="carrito" for="opcion6">BELLO - $13.000</label><br>
                    <input class="carrito" type="radio" id="opcion7" name="opcion" value="15000">
                    <label class="carrito" for="opcion7">NAVARRA BELLO - $15.000</label><br>
                    <input class="carrito" type="radio" id="opcion8" name="opcion" value="15000">
                    <label class="carrito" for="opcion8">ENVIGADO - $15.000</label><br>
                    <input class="carrito" type="radio" id="opcion9" name="opcion" value="15000">
                    <label class="carrito" for="opcion9">ITAGUI - $15.000</label><br>
                    <input class="carrito" type="radio" id="opcion10" name="opcion" value="15000">
                    <label class="carrito" for="opcion10">LA ESTRELLA - $15.000</label><br>
                    <input class="carrito" type="radio" id="opcion11" name="opcion" value="15000">
                    <label class="carrito" for="opcion11">SANTO DOMINGO - $15.000</label><br>
                    <input class="carrito" type="radio" id="opcion12" name="opcion" value="16000">
                    <label class="carrito" for="opcion12">SAN CRISTOBAL - $16.000</label><br>
                    <input class="carrito" type="radio" id="opcion13" name="opcion" value="18000">
                    <label class="carrito" for="opcion13">SABANETA - $18.000</label><br>
                    <input class="carrito" type="radio" id="opcion14" name="opcion" value="18000">
                    <label class="carrito" for="opcion14">COPACABANA - $18.000</label><br>
                    <input class="carrito" type="radio" id="opcion15" name="opcion" value="18000">
                    <label class="carrito" for="opcion15">SAN ANTONIO DE PRADO - $18.000</label><br>
                    <input class="carrito" type="radio" id="opcion16" name="opcion" value="20000">
                    <label class="carrito" for="opcion16">CALDAS - $20.000</label><br>
                    <input class="carrito" type="radio" id="opcion17" name="opcion" value="28000">
                    <label class="carrito" for="opcion17">GIRARDOTA - $28.000</label><br>
                    <input class="carrito" type="radio" id="opcion18" name="opcion" value="0">
                    <label class="carrito" for="opcion18">COSTO VARIABLE (DEPENDE DE LA TRANSPORTADORA Y LA CIUDAD DE DESTINO)</label><br>
                </div>

                <!-- Textarea para la dirección -->
                <label class="carrito" for="direccion">Detalles de la dirección: (CÉDULA, TELÉFONO, DIRECCIÓN, BARRIO)</label><br>
                <textarea class="carrito" id="direccion" rows="4" cols="50"></textarea><br>

                <ol class="carrito" style="font-size: x-large;" id="lista-carrito"></ol>
                <!-- Total a pagar -->
                <p class="carrito" id="total-carrito" style="display: none; font-size: xx-large;">Total a pagar: </p>

                <!-- Botón para comprar -->
                <div class="row">
                    <div class="col-md-6">
                        <button class="carrito btn btn-primary border border-dark mb-3 btn-sm" onclick="comprarNatalia()">Compra con nuestra asesora Natalia &nbsp;&nbsp;&nbsp; <img src="https://i.ibb.co/BPR380S/asesormujer.png" alt="" width="40px" height="36px"> </button>
                    </div>
                    <div class="col-md-6">
                        <button class="carrito btn btn-primary border border-dark mb-3 btn-sm" onclick="comprarLuis()">Compra con nuestro asesor Luis &nbsp;&nbsp;&nbsp; <img src="https://i.ibb.co/hgtCXdd/asesorhombre.png" alt="" width="40px" height="36px"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="carrito btn btn-primary border border-dark mb-3 btn-sm" onclick="comprarCristian()">Compra con nuestro asesor Cristian &nbsp;&nbsp;&nbsp; <img src="https://i.ibb.co/hgtCXdd/asesorhombre.png" alt="" width="40px" height="36px"</button>
                    </div>
                    <div class="col-md-6">
                        <button class="carrito btn btn-primary border border-dark mb-3 btn-sm" onclick="comprarJuan()">Compra con nuestro asesor Juan &nbsp;&nbsp;&nbsp; <img src="https://i.ibb.co/hgtCXdd/asesorhombre.png" alt="" width="40px" height="36px"</button>
                    </div>
                </div>
                
            </div>
        </div>






        <div class="row buscador" id="catalogos">
            <div class="col-md-12">
                <input type="text" id="buscador" class="form-control" style="border-color: #000000; color: #000000;"
                    placeholder="Buscar por nombre...">
            </div>
        </div>



        <div class="row mt-3" id="catalogos">
            <% catalogos.forEach((catalogo, index)=> { %>
                <% if (catalogo.catalogo==='Belleza' && catalogo.certificacion==='siHay' ) { %>
                    <div class="col-md-4 mb-4 contenedor-autos" data-nombre="<%= catalogo.nombre %>">
                        <div class="card">
                            <img src="<%= catalogo.imagen %>" class="card-img-top" alt="<%= catalogo.nombre %>">
                            <div class="card-body">
                                <h3 class="card-title" style="display: none;">
                                    <%= catalogo.catalogo %>
                                </h3>
                                <h3 class="card-title">
                                    <%= catalogo.nombre %>
                                </h3>
                                <a style="display: flex; align-items: center; margin-left: 88%; width: 50px;" href="#"
                                    class="btn btn-primary ver-detalles" data-index="<%= index %>"><box-icon
                                        name='chevron-down' type='solid' animation='tada'></box-icon></a>
                                <a href="#" class="btn btn-secondary mostrar-menos"
                                    style="display: none; align-items: center; margin-left: 88%; width: 50px;"><box-icon
                                        name='chevron-down' type='solid' animation='tada' rotate='180'></box-icon></a>
                                <b>
                                    <p class="card-text descripcion">
                                        <%= catalogo.descripcion %>
                                    </p>
                                </b>
                                <p class="card-text"
                                    style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 30px;">
                                    Precio: $<%= catalogo.precio.toLocaleString('es-CO') %> COP</p>
                                <form class="agregar-al-carrito" action="/agregar-al-carrito" method="POST">
                                    <!-- Campos ocultos para el ID, nombre y precio del producto -->
                                    <input type="hidden" name="productoId" value="<%= catalogo.id %>">
                                    <input type="hidden" name="nombreProducto" value="<%= catalogo.nombre %>">
                                    <input type="hidden" name="precioProducto" value="<%= catalogo.precio %>">
                                    <!-- Campo de entrada para la cantidad -->
                                    <label for="cantidad-<%= index %>">Cantidad:</label>
                                    <input type="number" id="cantidad-<%= index %>" name="cantidad" value="1" min="1">
                                    <!-- Botón para agregar al carrito -->
                                    <button class="btn btn-primary" type="submit">Agregar al carrito</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <% }); %>
        </div>
    </div>

    <!-- ESTE ES EL FOOTER -->

    <footer class="p-3 mb-2" class="text-muted">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <hr class="my-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem "></i>NUESTROS CATÁLOGOS
                        </h6>
                        <hr class="my-4">
                        <p>
                            <a href="./#bellezaycuidadopersonal" class="text-reset">BELLEZA Y CUIDADO PERSONAL</a>
                        </p>
                        <p>
                            <a href="./#conectividadyelectronica" class="text-reset">CONECTIVIDAD Y ELECTRÓNICA</a>
                        </p>
                        <p>
                            <a href="./#energiaeiluminacion" class="text-reset">ENERGÍA E ILUMINACIÓN</a>
                        </p>
                        <p>
                            <a href="./#hogarycocina" class="text-reset">HOGAR Y COCINA</a>
                        </p>
                        <p>
                            <a href="./#jugueteriayentretenimiento" class="text-reset">JUGUETERIA Y ENTRETENIMIENTO</a>
                        </p>
                        <p>
                            <a href="./#mascotas" class="text-reset">MASCOTAS</a>
                        </p>
                        <p>
                            <a href="./#saludybienestar" class="text-reset">SALUD Y BIENESTAR</a>
                        </p>
                        






                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-4">
                        <!-- Links -->
                        <hr class="my-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            CENTRO DE AYUDA
                        </h6>
                        <hr class="my-4">
                        <p>
                            <a id="contactoFooter"
                                href="https://wa.me/573122377722?text=Hola,%20he%20visitado%20su%20tienda%20online%20Cacharrería%20Varisti%20y%20me%20gustaría%20recibir%20más%20información,%20por%20favor."
                                class="text-uppercase text-reset">CONTÁCTANOS</a>
                        </p>
                        <p>
                            <a href="../../public/politicas_de_privacidad.pdf" download="politicas_de_privacidad.pdf"
                                class="text-uppercase text-reset">POLÍTICAS Y PRIVACIDAD</a>
                        </p>

                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <hr class="my-4">
                        <h6 class="text-uppercase fw-bold mb-4">¿Deseas más información?</h6>
                        <hr class="my-4">
                        <p>
                            <a class="text-uppercase" href="https://maps.app.goo.gl/snHoRT5ZiCwyqkU66" target="_blank" style="color: #000000;">
                                <img src="https://i.ibb.co/CtJjRRF/pixelcut-export-14.png" alt="" width="24px" height="24px">C.C: Disconfites Cra. 54 # 46-21 Local 134
                            </a>
                        </p>
                        <p>
                            <a class="text-uppercase" href="mailto:cacharreria.varisti@gmail.com" target="_blank" style="color: #000000;">
                                <img src="https://i.ibb.co/YBd0krT/gmail.png" alt="" width="24px" height="24px"> cacharreria.varisti@gmail.com
                            </a>
                        </p>
                        <p>
                            <i class="bi bi-telephone-fill">557 8493 - 511 0040</i>
                        </p>
                    </div>
                    <section class="d-flex justify-content-center col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                        <div>
                            <a href="https://www.facebook.com/profile.php?id=61560352376065&locale=es_LA" target="_blank" class="me-4 text-reset social-link">
                                <img src="https://i.ibb.co/t2fgDs8/pixelcut-export-12.png" alt="Facebook" width="32px" height="32px">
                            </a>

                            <!-- <a href="https://twitter.com/?lang=es" target="blank" class="me-4 text-reset social-link">
                                <i class="bi bi-twitter-x" style="color: #000000;"></i>
                            </a> -->

                            <a href="https://www.instagram.com/cacharreria.varisti?igsh=MXhtZG1vNmU2MHo2dg==" target="_blank" class="me-4 text-reset social-link">
                                <img src="https://i.ibb.co/k8D15jF/pixelcut-export-10.png" alt="Instagram" width="32px" height="32px">
                            </a>
                            <a href="https://wa.me/573122377722?text=Hola,%20he%20visitado%20su%20tienda%20online%20Cacharrería%20Varisti%20y%20me%20gustaría%20recibir%20más%20información,%20por%20favor."
                                target="_blank" class="me-4 text-reset social-link">
                                <img src="https://i.ibb.co/LJMBh1s/social.png" alt="Whatsapp" width="32px" height="32px">
                            </a>

                        </div>
                        <!-- Right -->
                    </section>
                    <% if (esMayorista) { %>
                        <button style="width: 100px; height: 100px; margin-left: auto; border-radius: 50%; pointer-events: visible;" id="detal-btn" ><img style="height: 80px; width: 80px;" src="https://i.ibb.co/vLC88YL/pixelcut-export-5.png"></button>
                    <% } else { %>
                        <button style="width: 100px; height: 100px; margin-left: auto; border-radius: 50%; pointer-events: visible;" id="mayoristas-btn" ><img style="height: 80px; width: 80px;" src="https://i.ibb.co/vLC88YL/pixelcut-export-5.png"></button>
                    <% } %>
                                                        <!-- Grid row -->
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-4 mx-auto text-center">
                            <hr class="my-4">
                            <p class="text-uppercase">&copy; <%= new Date().getFullYear() %> Varisti... Todos los derechos reservados...</p>
                            <p>
                                <a href="/politicas" class="text-uppercase text-reset" target="_blank">Política de privacidad | Términos y condiciones</a>
                            </p>
                        </div>
                    </div>
                </div>
    </footer>



    <div class="whatsapp-container">
        <a href="https://wa.me/573122377722?text=Hola,%20he%20visitado%20su%20tienda%20online%20Cacharrería%20Varisti%20y%20me%20gustaría%20recibir%20más%20información,%20por%20favor." target="_blank">
            <div class="mensaje-burbuja">¿Quieres asesoría?<br><b>Activar chat</b></div>
        </a>
        <!-- Botón de WhatsApp -->
        <a href="https://wa.me/573122377722?text=Hola,%20he%20visitado%20su%20tienda%20online%20Cacharrería%20Varisti%20y%20me%20gustaría%20recibir%20más%20información,%20por%20favor." target="_blank" class="whatsapp-btn">
          <img src="https://i.ibb.co/LJMBh1s/social.png" alt="WhatsApp">
        </a>
      </div>
  

</body>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('a').forEach(function(link) {
            link.addEventListener('click', function(event) {
                if (this.hash) {
                    // Store the hash in localStorage
                    localStorage.setItem('scrollTo', this.hash);
                }
            });
        });
    });
    </script>


<script>
    setTimeout(function() {
      document.querySelector('.whatsapp-btn').classList.add('small');
    }, 6000); // 6 segundos para la animación de salida
  </script>

<script>
    document.getElementById('mayoristas-btn').addEventListener('click', function() {
        Swal.fire({
            title: 'Ingresa el código de acceso',
            input: 'text',
            inputPlaceholder: 'Código de acceso',
            showCancelButton: true,
            confirmButtonText: 'Enviar',
            preConfirm: (code) => {
                return new Promise((resolve) => {
                    setTimeout(() => {
                        if (code === 'tu_codigo_secreto') {
                            resolve(true);
                        } else {
                            Swal.showValidationMessage('Código incorrecto');
                            resolve(false);
                        }
                    }, 1000);
                });
            }
        }).then((result) => {
            if (result.isConfirmed) {
                fetch('/guardar_sesion', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ acceso: 'mayoristas' })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Recarga la página para aplicar los cambios de sesión
                        location.reload();
                    }
                });
            }
        });
    });
</script>

<script>    
    document.getElementById('detal-btn').addEventListener('click', function() {
    Swal.fire({
        title: '¿Estás seguro de cambiar a precio detal?',
        text: 'Esta acción cambiará tu sesión a precio detal.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Sí, cambiar',
        cancelButtonText: 'Cancelar'
    }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire({
                title: 'Confirmar cambio a precio detal',
                text: 'Por favor, confirma que estás completamente seguro de cambiar a precio detal.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, estoy seguro',
                cancelButtonText: 'No, cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Envía una solicitud al servidor para destruir la sesión de mayoristas
                    fetch('/destruir_sesion_mayoristas', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ accion: 'destruir' })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Recarga la página para aplicar los cambios de sesión
                            location.reload();
                        }
                    });
                }
            });
        }
    });
});
</script>
    
<script>
    let totalCarrito = 0; // Variable para almacenar el total del carrito
    let totalGeneral = 0; // Variable para almacenar el total general de todos los productos

    // Event listeners para los radio buttons
document.querySelectorAll('input[name="opcion"]').forEach(radio => {
    radio.addEventListener('change', () => {
        // Llamar a la función para recalcular el total del carrito cada vez que cambie la selección de radio
        calcularTotal();
    });
});

// Función para agregar un producto al carrito
function agregarAlCarrito(productoId, nombreProducto, precioProducto, cantidad) {
    const totalProducto = precioProducto * cantidad; // Calcular el total por producto
    let totalRadio = 0; // Inicializar el total de las opciones de radio

    // Obtener el valor del radio button seleccionado y sumarlo al total de las opciones de radio
    const opcionSeleccionada = document.querySelector('input[name="opcion"]:checked');
    if (opcionSeleccionada) {
        totalRadio = parseFloat(opcionSeleccionada.value); // Obtener el valor del radio button
    }

    totalCarrito += totalProducto + totalRadio; // Sumar el total del producto y el total de las opciones de radio al total del carrito
    totalGeneral += totalProducto; // Actualizar el total general

    // Resto del código para agregar el producto al carrito...
}

    // Event listener para los formularios de agregar al carrito
    document.querySelectorAll('.agregar-al-carrito').forEach(form => {
        form.addEventListener('submit', (event) => {
            event.preventDefault(); // Evitar que el formulario se envíe por defecto

            const formData = new FormData(form);
            const productoId = formData.get('productoId');
            const nombreProducto = formData.get('nombreProducto');
            const precioProducto = parseFloat(formData.get('precioProducto'));
            let cantidad = parseInt(formData.get('cantidad'));

            // Verificar si ya existe un registro para este producto en el carrito
            const productoEnCarrito = document.querySelector(`#lista-carrito [data-producto-id="${productoId}"]`);
            if (productoEnCarrito) {
                const cantidadAnterior = parseInt(productoEnCarrito.querySelector('.cantidad').value);
                const precioAnterior = parseFloat(productoEnCarrito.querySelector('.precio').textContent.replace(/[^\d.-]/g, '')); // Eliminar cualquier caracter que no sea número, punto o signo negativo
                totalCarrito -= precioAnterior * cantidadAnterior; // Restar el total del producto anterior
                totalGeneral -= precioAnterior * cantidadAnterior; // Restar el total general del producto anterior
                cantidad += cantidadAnterior; // Sumar la cantidad anterior a la nueva cantidad
                productoEnCarrito.remove(); // Eliminar el registro anterior del carrito
            }

            agregarAlCarrito(productoId, nombreProducto, precioProducto, cantidad);
        });
    });



    // Función para calcular el total del carrito y mostrarlo
// Función para calcular el total del carrito y mostrarlo
// Función para calcular el total del carrito y mostrarlo
function calcularTotal() {
    totalCarrito = 0; // Reinicia el total del carrito

    // Recorre todos los elementos del carrito y suma los totales
    document.querySelectorAll('#lista-carrito li').forEach(item => {
        const totalProducto = parseFloat(item.querySelector('.total').textContent.replace(/[^\d-]/g, ''));
        totalCarrito += totalProducto;
    });

    // Obtener el valor del radio button seleccionado y sumarlo al total del carrito
    const opcionSeleccionada = document.querySelector('input[name="opcion"]:checked');
    if (opcionSeleccionada) {
        totalCarrito += parseFloat(opcionSeleccionada.value); // Obtener el valor del radio button
    }

    // Formatea el total para mostrarlo completo
    const totalCarritoElement = document.getElementById('total-carrito');
    totalCarritoElement.textContent = `Total a pagar: ${totalCarrito.toLocaleString('es-CO', { style: 'currency', currency: 'COP', minimumFractionDigits: 0 })}`;
    totalCarritoElement.style.display = 'block'; // Muestra el elemento
}









// Función para agregar un producto al carrito
function agregarAlCarrito(productoId, nombreProducto, precioProducto, cantidad) {
    const totalProducto = precioProducto * cantidad; // Calcular el total por producto
    totalCarrito += totalProducto; // Actualizar el total del carrito

    // Obtener el valor del radio button seleccionado
    const opcionSeleccionada = document.querySelector('input[name="opcion"]:checked');
    if (opcionSeleccionada) {
        totalCarrito += parseFloat(opcionSeleccionada.value); // Sumar el valor del radio button al total del carrito
    }

    totalGeneral += totalProducto; // Actualizar el total general

    const itemCarrito = `
        <li data-producto-id="${productoId}">
            ${nombreProducto} - Precio: <span class="precio">${precioProducto.toLocaleString('es-CO', { style: 'currency', currency: 'COP', minimumFractionDigits: 0 })}</span> - Cantidad: <input type="number" class="cantidad" style="width: 7ch;" value="${cantidad}" min="1" onchange="actualizarCantidad(${productoId}, ${precioProducto})"> - Total: <span class="total">${totalProducto.toLocaleString('es-CO', { style: 'currency', currency: 'COP', minimumFractionDigits: 0 })}</span>
            <button class="boton-eliminar-lista" onclick="eliminarDelCarrito(${productoId}, ${precioProducto}, ${cantidad})">Eliminar</button>
        </li>
    `;
    const listaCarrito = document.getElementById('lista-carrito');
    listaCarrito.insertAdjacentHTML('beforeend', itemCarrito);

    calcularTotal(); // Calcular y mostrar el total del carrito
    actualizarTotalGeneral(); // Actualizar el total general mostrado
}

// Función para actualizar la cantidad de un producto en el carrito
function actualizarCantidad(productoId, precioProducto) {
        const cantidadElement = document.querySelector(`#lista-carrito [data-producto-id="${productoId}"] .cantidad`);
        const nuevaCantidad = parseInt(cantidadElement.value);
        const totalAnterior = parseFloat(cantidadElement.parentElement.querySelector('.total').textContent.replace(/[^\d.-]/g, '')); // Eliminar cualquier caracter que no sea número, punto o signo negativo
        const nuevoTotal = precioProducto * nuevaCantidad;
        totalCarrito -= totalAnterior; // Restar el total del producto anterior del carrito
        totalCarrito += nuevoTotal; // Sumar el nuevo total del producto al carrito
        totalGeneral -= totalAnterior; // Restar el total general del producto anterior
        totalGeneral += nuevoTotal; // Sumar el nuevo total del producto al total general
        cantidadElement.parentElement.querySelector('.total').textContent = nuevoTotal.toLocaleString('es-CO', { style: 'currency', currency: 'COP', minimumFractionDigits: 0 }); // Actualizar el total del producto
        calcularTotal(); // Calcular y mostrar el total del carrito
        actualizarTotalGeneral(); // Actualizar el total general mostrado
    }










    // Función para actualizar el total general mostrado
    function actualizarTotalGeneral() {
        const totalGeneralElement = document.getElementById('total-general');
        totalGeneralElement.textContent = `Total general: $${totalGeneral.toLocaleString('es-CO', { style: 'currency', currency: 'COP', minimumFractionDigits: 0 })}`;
    }

// Función para eliminar un producto del carrito
function eliminarDelCarrito(productoId, precioProducto, cantidad) {
    // Calcular el total por producto
    const totalProducto = precioProducto * cantidad;

    // Restar el total del producto del carrito
    totalCarrito -= totalProducto;

    // Restar el total general del producto
    totalGeneral -= totalProducto;

    // Seleccionar el producto en el carrito
    const productoEnCarrito = document.querySelector(`#lista-carrito [data-producto-id="${productoId}"]`);

    // Mostrar Sweet Alert para confirmar la eliminación del producto
    Swal.fire({
        title: '¿Estás seguro?',
        text: '¿Deseas eliminar este producto del carrito?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, eliminar',
        cancelButtonText: 'Cancelar'
    }).then((result) => {
        if (result.isConfirmed) {
            // Si el usuario confirma la eliminación, eliminar el producto del carrito
            productoEnCarrito.remove(); // Eliminar el registro del carrito

            // Actualizar el total mostrado en el carrito
            calcularTotal(); // Calcular y mostrar el total del carrito
            actualizarTotalGeneral(); // Actualizar el total general mostrado

            // Mostrar un Sweet Alert para confirmar la eliminación
            Swal.fire(
                'Eliminado!',
                'El producto ha sido eliminado del carrito.',
                'success'
            );
        }
    });
}
</script>

<script>
    // Función para mostrar u ocultar el carrito
    function toggleCarrito() {
        const carrito = document.getElementById('carrito');
        if (carrito.style.display === 'none') {
            carrito.style.display = 'block';
            setTimeout(() => {
                carrito.style.opacity = '1';
                carrito.style.transform = 'scale(1)';
            }, 50); // Espera un breve momento antes de aplicar la transición para dar tiempo a que el cambio de visibilidad ocurra
        } else {
            carrito.style.opacity = '0';
            carrito.style.transform = 'scale(0)';
            setTimeout(() => {
                carrito.style.display = 'none';
            }, 300); // Espera 300 ms (la duración de la transición CSS) antes de ocultar completamente el carrito
        }
    }


    function comprar(asesor) {
    // Verificar si el carrito está vacío
    const listaCarrito = document.getElementById('lista-carrito');
    if (listaCarrito.children.length === 0) {
        Swal.fire({
            icon: 'warning',
            title: 'Carrito vacío',
            text: 'El carrito está vacío. Por favor, agregue productos antes de continuar.'
        });
        return;
    }

    // Verificar si se ha ingresado un nombre
    const nombre = document.getElementById('nombre').value;
    if (!nombre) {
        Swal.fire({
            icon: 'warning',
            title: 'Nombre requerido',
            text: 'Por favor, ingrese su nombre antes de continuar.'
        });
        return;
    }

    // Obtener el valor del radio button seleccionado
    const opcionSeleccionada = document.querySelector('input[name="opcion"]:checked');
    if (!opcionSeleccionada) {
        Swal.fire({
            icon: 'warning',
            title: 'Tarifa de envio requerida',
            text: 'Por favor, seleccione una opción antes de continuar.'
        });
        return;
    }
    const valorRadio = opcionSeleccionada.value;

    // Obtener el contenido del textarea
    const direccion = document.getElementById('direccion').value;

    // Verificar si se ha ingresado la dirección
    if (!direccion.trim()) {
        Swal.fire({
            icon: 'warning',
            title: 'Datos requeridos',
            text: 'Por favor, ingrese su dirección antes de continuar.'
        });
        return;
    }

    // Obtener el texto de la tarifa de envío
    const labelSeleccionado = document.querySelector(`label[for="${opcionSeleccionada.id}"]`);
    const textoLabel = labelSeleccionado.textContent;

    // Números de WhatsApp para cada asesor
    const numerosWhatsApp = {
        'Natalia': '3122377722',
        'Luis': '3122377722',
        'Cristian': '3122377722',
        'Juan': '3122377722'
    };

    // Número de WhatsApp del asesor seleccionado
    const numeroWhatsApp = numerosWhatsApp[asesor];

    // Construir el mensaje con los detalles de la compra
    let mensaje = `¡Hola ${nombre}!\nQuieres realizar una compra?\nTu pedido es:\n\n`;
Array.from(listaCarrito.children).forEach(item => {
    const nombreProducto = item.textContent.split(' - ')[0].trim(); // Extraer el nombre del producto del texto
    const cantidad = parseInt(item.querySelector('.cantidad').value, 10); // Obtener la cantidad del producto y convertir a número entero
    const total = parseFloat(item.querySelector('.total').textContent.replace(/[^\d.-]/g, '')); // Obtener el total del producto y convertir a número, eliminando cualquier símbolo no numérico
    
    if (!isNaN(cantidad) && !isNaN(total) && cantidad > 0) { // Verificar que cantidad y total sean números válidos
        const precioUnitario = (total / cantidad).toFixed(3); // Calcular el precio unitario y redondear a tres decimales
        const totalFormatted = total.toFixed(3); // Redondear el total a tres decimales
        mensaje += `${nombreProducto}\nCantidad: ${cantidad}\nPrecio unitario: ${precioUnitario}\nTotal: ${totalFormatted}\n\n`;
    } else {
        console.error(`Datos inválidos para el producto: ${nombreProducto}`);
    }
});


    // Agregar la opción seleccionada del radio button al mensaje
    mensaje += `Tarifa de envío: ${textoLabel}\n\n`;

    // Agregar el contenido del textarea al mensaje
    mensaje += `Tus datos de envio son: ${direccion}\n`;

    // Agregar el total a pagar al mensaje
    const totalAPagar = document.getElementById('total-carrito').textContent;
    mensaje += `\n${totalAPagar}\nTu pedido está correcto?\nSI/NO\n`;

    // Codificar el mensaje para que sea compatible con la URL
    const mensajeCodificado = encodeURIComponent(mensaje);

    // Construir la URL de WhatsApp
    const url = `https://wa.me/${numeroWhatsApp}/?text=${mensajeCodificado}`;

    // Abrir la URL en una nueva pestaña
    window.open(url, '_blank');
}

function comprarNatalia() {
    comprar('Natalia');
}

function comprarLuis() {
    comprar('Luis');
}

function comprarCristian() {
    comprar('Cristian');
}

function comprarJuan() {
    comprar('Juan');
}


</script>

<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
            document.getElementById("navbar").style.opacity = "1"; // Restablece la opacidad al hacer scroll hacia arriba
        } else {
            document.getElementById("navbar").style.top = "-65px";
            document.getElementById("navbar").style.opacity = "0.5"; // Cambia la opacidad al hacer scroll hacia abajo
        }
        document.getElementById("navbar").style.transition = "top 0.6s, opacity 0.6s"; // Aplica transición suave
        prevScrollpos = currentScrollPos;
    }
</script>

<script>
    // Obtener el input de búsqueda
    var inputBusqueda = document.getElementById('buscador');

    // Manejar el evento de entrada en el input de búsqueda
    inputBusqueda.addEventListener('input', function () {
        var valorBusqueda = inputBusqueda.value.toLowerCase();

        // Mostrar/ocultar los vehículos según el nombre ingresado en el buscador
        document.querySelectorAll('.contenedor-autos').forEach(function (catalogo) {
            var nombre = catalogo.getAttribute('data-nombre').toLowerCase();
            if (nombre.includes(valorBusqueda)) {
                catalogo.style.display = 'block';
            } else {
                catalogo.style.display = 'none';
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const botonesVerDetalles = document.querySelectorAll('.ver-detalles');
        const botonesMostrarMenos = document.querySelectorAll('.mostrar-menos');

        botonesVerDetalles.forEach((boton, index) => {
            boton.addEventListener('click', function (event) {
                event.preventDefault();
                const descripcion = this.parentElement.querySelector('.descripcion');
                const botonMostrarMenos = this.parentElement.querySelector('.mostrar-menos');

                descripcion.style.maxHeight = descripcion.scrollHeight + 'px';
                botonMostrarMenos.style.display = 'inline-block';
                this.style.display = 'none';
            });
        });

        botonesMostrarMenos.forEach((boton) => {
            boton.addEventListener('click', function (event) {
                event.preventDefault();
                const descripcion = this.parentElement.querySelector('.descripcion');
                const botonVerDetalles = this.parentElement.querySelector('.ver-detalles');

                descripcion.style.maxHeight = '0';
                botonVerDetalles.style.display = 'inline-block';
                this.style.display = 'none';
            });
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>